@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: andreas;
  src: url(../assets/img/fonts/semplicita.ttf);
  font-family: the-wedding-signature;
  src: url(../assets/img/fonts/theweddingsignatureregular-bwz55.ttf);
}
header {
  background-color: #FCF9F5;
}
header div p {
  color: #FCF9F5;
  font-size: 18px;
  background-color: #696A62;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  font-family: andreas;
  font-weight: 300;
}

.nav-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.2rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  border-radius: 0.4rem;
}
nav .logo {
  width: 200px;
  height: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.menu ul li a {
  text-decoration: none;
  color: #696A62;
  font-size: 1.2rem;
}

nav #toggle, nav label {
  display: none;
}

/*.container-header{
    @include flex (row, space-between, center, center);
    div{
        a {
            img{
                height: 150px;
                margin-top: 50px;
                margin-left: 100px;
            }

        }
    }  
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        gap: 50px;
        margin-top: 120px;
        padding-bottom: 10px;
        margin-right: 250px;
        justify-content: left;
        padding-left: 50px;
        font-family: andreas;
        letter-spacing: 1px;
    }
    li{
        a{
            font-size: 20px;
            color: #696A62;
            text-decoration: none;
        }
        a:hover{
            color: #AC8780;
            text-decoration: underline;
        }
    }

}*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  font-family: poppins;
  background-color: #FCF9F5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top .redes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 30%;
  justify-items: center;
}

.top .redes a {
  text-decoration: none;
  color: #696A62;
}

.top .legal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 30%;
  justify-items: center;
}

.top .legal a {
  text-decoration: none;
  color: #696A62;
}

footer img {
  height: 150px;
}

.container-s1 {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}
.container-s1 h1 {
  color: #AC8780;
  font-family: andreas;
  font-weight: 300;
  font-size: 2em;
  text-align: left;
}

.adorno {
  display: none;
}

.container-s2 {
  color: #FCF9F5;
  font-size: 25px;
  font-weight: 150;
  background-color: #696A62;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 150px;
  padding-right: 150px;
  letter-spacing: 2px;
  font-family: andreas;
  line-height: 1.5;
}

.container-s3 {
  display: flex;
  width: 100%;
  align-items: center;
}

.s3-card {
  display: flex;
  flex-direction: column;
  padding-left: -100px;
  position: relative;
  left: -150px;
}
.s3-card h2 {
  color: #696A62;
  font-family: the-wedding-signature;
  letter-spacing: 2px;
  font-size: 120px;
  font-weight: 100;
}
.s3-card p {
  font-family: poppins;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

.container-s4 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #F0E8E0;
  height: 310px;
  margin-top: 100px;
}

.s4-card {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  left: 120px;
}
.s4-card h2 {
  color: #696A62;
  font-family: andreas;
  font-weight: 600;
  font-size: 1.5em;
  text-align: left;
}
.s4-card h2::after {
  content: " sueños";
  color: #AC8780;
}
.s4-card p {
  font-family: poppins;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

.s4-img {
  margin-right: 100px;
}

.container-s5 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  margin-bottom: 150px;
}

.item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 260px;
}
.item1 h2 {
  font-family: andreas;
  font-size: 1.5em;
  font-weight: 600;
  color: #696A62;
  margin-bottom: 20px;
}
.item1 p {
  font-family: poppins;
  font-size: 1em;
}

.item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 260px;
}
.item2 h2 {
  font-family: andreas;
  font-size: 1.5em;
  font-weight: 600;
  color: #AC8780;
  margin-bottom: 20px;
}
.item2 p {
  font-family: poppins;
  font-size: 1em;
}

.item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 260px;
}
.item3 h2 {
  font-family: andreas;
  font-size: 1.5em;
  font-weight: 600;
  color: #696A62;
  margin-bottom: 20px;
}
.item3 p {
  font-family: poppins;
  font-size: 1em;
}

.item4 {
  display: grid;
  grid-template-columns: column;
  align-items: center;
  text-align: center;
  width: 260px;
}
.item4 h2 {
  font-family: andreas;
  font-size: 1.5em;
  font-weight: 600;
  color: #AC8780;
  margin-bottom: 20px;
}
.item4 p {
  font-family: poppins;
  font-size: 1em;
}

.container-s6 {
  width: 100%;
  background-color: #F8F1EB;
  padding: 100px 200px;
}

@media (max-width: 768px) {
  nav {
    padding: 1rem 1.5rem;
  }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: #696A62;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    font-family: poppins;
    background-color: #FCF9F5;
    padding-top: 30px;
  }
  .top .redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .top .legal {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .container-s1 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
  .fotodcha {
    width: 100%;
    height: auto;
  }
  .fotoiqda {
    width: 100%;
    height: auto;
  }
  .container-s1 h1 {
    font-size: 1em;
    width: 280px;
    text-align: center;
    justify-content: center;
    margin-right: 0px;
    padding: 20px;
  }
  .adorno {
    display: flex;
    width: 100%;
  }
  .container-s2 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.9rem;
  }
  .s3-card {
    display: flex;
    flex-direction: column;
  }
  .s3-card h2 {
    margin-top: -40px;
    text-align: right;
    margin-right: -100px;
    font-size: 100px;
  }
  .s3-card p {
    font-family: poppins;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    margin-right: -100px;
    margin-left: 200px;
  }
  .s3-card p span {
    color: #AC8780;
    font-weight: 600;
  }
  .container-s3 img {
    width: 100%;
  }
  .container-s3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  .container-s4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }
  .container-s4 img {
    height: 300px;
    margin-top: -50px;
    padding-bottom: 20px;
    /*ESTUDIO*/
  }
  .container-s4 img .s4-img {
    margin-right: 0;
  }
  .container-s4 img .s4-card {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    left: 20px;
    font-size: 0.9rem;
  }
  .container-s4 img .s4-card h2 {
    color: #AC8780;
    font-family: andreas;
    font-weight: 400;
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 10px;
  }
  .container-s4 img .s4-card p {
    font-family: poppins;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    margin: 20px;
  }
  .container-s4 img .container-s5 {
    display: flex;
    flex-flow: row wrap;
    row-gap: 80px;
  }
  .container-s4 img .container-s6 {
    padding: 20px 20px;
  }
  .container-s4 img div.s-st {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container-s4 img main.presen button {
    width: 100%;
    border-color: #696A62;
    color: #696A62;
    border-width: thin;
    background-color: transparent;
    padding: 5px;
    border-radius: 2em;
  }
  .container-s4 img div.foto {
    width: 100%;
    padding: 0px;
  }
  /*proceso*/
  main h1 {
    font-size: 1rem;
    margin: 5%;
  }
  div.presen {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .proc {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  div .proc-s1 {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  div .proc-s1 img {
    width: 300px;
  }
  div .card1 {
    width: 80%;
    padding: 0px;
    margin: 20px 20px;
    text-align: center;
  }
}
div .proc-s2 {
  display: flex;
  flex-direction: column-reverse;
  margin: 0px;
}
div .proc-s2 img {
  width: 300px;
}

div .card2 {
  width: 80%;
  padding: 0px;
  margin: 20px 20px;
  text-align: center;
}

div .proc-s3 {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
div .proc-s3 img {
  width: 80%;
  height: 80%;
}

div .card3 {
  width: 80%;
  padding: 0px;
  margin: 20px 20px;
  text-align: center;
}

div .proc-s4 {
  display: flex;
  flex-direction: column-reverse;
  margin: 0px;
}
div .proc-s4 img {
  width: 300px;
}

div .card4 {
  width: 80%;
  padding: 0px;
  margin: 20px 20px;
  text-align: center;
}

/* proyectos */
.intro {
  font-size: 1rem;
}

h1.porfolio {
  font-size: 16px;
  padding: 5%;
}

section.trabajos {
  flex-direction: column;
  align-items: center;
}

div.card1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
div.card1 img {
  width: 100%;
}

div.card2 {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
div.card2 img {
  width: 100%;
}

section.s-contacto {
  flex-direction: column;
}

div.imatext {
  width: 100%;
  flex-direction: column;
  margin: 0px;
}
div.imatext img {
  width: 100%;
}
div.imatext p {
  font-size: 0.9rem;
  margin: 0px 40px;
}

div.formulario {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px;
  padding-right: 5%;
}
div.formulario button {
  align-content: center;
}

.s-st {
  display: flex;
  flex-direction: row;
}

.presen {
  width: 60%;
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.presen h1 {
  color: #AC8780;
  font-family: andreas;
  font-weight: 300;
  font-size: 2em;
  text-align: left;
}
.presen button {
  width: 30%;
  border-color: #696A62;
  color: #696A62;
  border-width: thin;
  background-color: transparent;
  padding: 5px;
  border-radius: 2em;
}
.presen button:hover {
  background-color: #AC8780;
  color: #FCF9F5;
  border-color: #AC8780;
}

.hola {
  color: #696A62;
  font-family: the-wedding-signature;
  letter-spacing: 2px;
  font-size: 120px;
  font-weight: 100;
}

.texto {
  font-family: poppins;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  color: #696A62;
}

.foto {
  width: 40%;
  padding: 3rem 3rem 10rem 5rem;
}

h1 {
  color: #696A62;
  font-family: andreas;
  font-weight: 400;
  text-align: center;
  padding-top: 60px;
  font-size: 20px;
}

.proc-s1 {
  display: flex;
  flex-direction: row;
  padding-left: -100px;
  position: center;
  margin: 50px;
}

.card1 {
  display: flex;
  flex-direction: column;
  padding-left: -100px;
  position: relative;
  width: 50%;
  margin-left: 50px;
  margin-top: 60px;
}
.card1 h2 {
  font-family: andreas;
  font-weight: 500;
  font-size: 1.5rem;
  color: #AC8780;
}
.card1 p {
  font-family: poppins;
  color: #696A62;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}
.card1 img {
  width: 90%;
}

.proc-s2 {
  display: flex;
  flex-direction: row;
  padding-left: -100px;
  position: center;
  margin: 50px;
}

.card2 {
  display: flex;
  flex-direction: column;
  padding-left: -100px;
  position: relative;
  width: 50%;
  margin-right: 50px;
  margin-top: 60px;
}
.card2 h2 {
  font-family: andreas;
  font-weight: 500;
  font-size: 1.5rem;
  color: #AC8780;
}
.card2 p {
  font-family: poppins;
  color: #696A62;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}
.card2 img {
  width: 90%;
}

.proc-s3 {
  display: flex;
  flex-direction: row;
  padding-left: -100px;
  position: center;
  margin: 50px;
}

.card3 {
  display: flex;
  flex-direction: column;
  padding-left: -100px;
  position: relative;
  width: 50%;
  margin-left: 50px;
  margin-top: 60px;
}
.card3 h2 {
  font-family: andreas;
  font-weight: 500;
  font-size: 1.5rem;
  color: #AC8780;
}
.card3 p {
  font-family: poppins;
  color: #696A62;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  width: 80%;
}
.card3 img {
  width: 90%;
}

.img3 img {
  width: 620px;
  height: 349px;
}

.proc-s4 {
  display: flex;
  flex-direction: row;
  padding-left: -100px;
  position: center;
  margin: 50px;
}

.card4 {
  display: flex;
  flex-direction: column;
  padding-left: -100px;
  position: relative;
  width: 50%;
  margin-right: 50px;
  margin-top: 60px;
}
.card4 h2 {
  font-family: andreas;
  font-weight: 500;
  font-size: 1.5rem;
  color: #AC8780;
}
.card4 p {
  font-family: poppins;
  color: #696A62;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}
.card4 img {
  width: 90%;
}

.s-proceso {
  background-color: #AC8780;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-proceso p {
  font-family: andreas;
  color: #FCF9F5;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}
.s-proceso a button {
  border-color: #FCF9F5;
  color: #AC8780;
  border-width: thin;
  background-color: #FCF9F5;
  padding: 10px 20px;
  border-radius: 2em;
}
.s-proceso button:hover {
  background-color: #FCF9F5;
  color: #696A62;
  border-color: #FCF9F5;
}

.banner {
  background-image: url(../assets/img/SALON.png);
  background-size: cover;
  background-position: center;
  color: #FCF9F5;
  font-family: andreas;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  padding: 15%;
}

.porfolio {
  color: #AC8780;
  font-family: andreas;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  padding: 5% 20%;
}

.trabajos {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}

.card1 {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textocard1 {
  background-color: rgba(252, 249, 245, 0.3098039216);
  margin-top: 20px;
}
.textocard1 h2 {
  text-align: center;
}
.textocard1 p {
  text-align: center;
  padding: 0 20px;
}

.card2 {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textocard2 {
  background-color: rgba(252, 249, 245, 0.3098039216);
  margin-top: 20px;
}
.textocard2 h2 {
  text-align: center;
}
.textocard2 p {
  text-align: center;
  padding: 0 20px;
}

.s-contacto {
  display: flex;
  flex-direction: row;
}

.imatext {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}
.imatext p {
  font-size: 1rem;
  text-align: justify;
  letter-spacing: 1px;
  color: #696A62;
  font-family: andreas;
  font-weight: 400;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px;
  padding-right: 5%;
}

.datos {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-family: poppins;
  color: #696A62;
  font-weight: 500;
}

.terminos {
  display: flex;
  flex-direction: row;
  font-family: poppins;
  color: #696A62;
  font-weight: 500;
  padding: 0 20px;
}

button {
  width: 30%;
  border-color: #696A62;
  color: #696A62;
  border-width: thin;
  background-color: transparent;
  padding: 5px;
  border-radius: 2em;
}

button:hover {
  background-color: #AC8780;
  color: #FCF9F5;
  border-color: #AC8780;
}

/*# sourceMappingURL=style.css.map */
