.banner{
    background-image: url(../assets/img/SALON.png);
    background-size: cover;
    background-position: center;
    color: #FCF9F5;
    font-family: andreas;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    padding: 15%;
        
}

.porfolio{
    color: #AC8780;
        font-family: andreas;
        font-weight: 300;
        font-size: 2em;
        text-align: center;
        padding: 5% 20%
}

.trabajos{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}
.card1{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.textocard1{
    background-color: #fcf9f54f;
margin-top: 20px;
    
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        padding: 0 20px;
    }
}

.card2{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.textocard2{
    background-color: #fcf9f54f;
margin-top: 20px;
    
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        padding: 0 20px;
    }
}



