@media (max-width:768px){
    nav{
        padding: 1rem 1.5rem;
    }
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    nav label{
        display: inline-flex;
        color: #696A62;
        cursor: pointer;
    }
    nav #toggle:checked ~ .menu{
        height: 100%;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 20px;
        font-family: poppins;
        background-color: #FCF9F5;
        padding-top: 30px;
    }
    .top .redes{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .top .legal{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media(max-width: 320px){

        .container-s1{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0px;
        }
        .fotodcha{
            width: 100%;
            height: auto;
        }
        .fotoiqda{
            width: 100%;
            height: auto;
        }
    
        .container-s1 h1{
        font-size: 1em;
        width: 280px;
        text-align: center;
        justify-content: center;
        margin-right: 0px;
        padding: 20px;
        }
        .adorno{
            display: flex;
            width: 100%;
        }
            .container-s2{
            padding-left: 30px;
            padding-right: 30px;
            font-size: 0.9rem;
        }
        .s3-card{
            display: flex;
            flex-direction: column;
        }
        .s3-card h2 {
            margin-top: -40px;
            text-align: right;
            margin-right: -100px;
            font-size: 100px;
        }
        .s3-card p{
            font-family: poppins;
            font-size: 0.9em;
            font-weight: 300;
            line-height: 1.5;
            text-align: justify;
            margin-right: -100px;
            margin-left: 200px;
        }
        .s3-card p span{
        color: #AC8780;
        font-weight: 600;
        }
        .container-s3 img{
            width: 100%;
        }
        .container-s3{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
        }
        .container-s4{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 30px;
        }
        .container-s4 img{
            height: 300px;
            margin-top: -50px;
            padding-bottom: 20px;
          }
          .s4-img {
            margin-right: 0;
        }
        .s4-card{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            left: 20px;
            font-size: 0.9rem;
        }
        .s4-card h2{
            color: #AC8780;
            font-family: andreas;
            font-weight: 400;
            font-size: 1.4em;
            text-align: center;
            padding-bottom: 10px;
        }
        .s4-card p{
            font-family: poppins;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.5;
            text-align: justify;
            margin: 20px;
        }
    
        .container-s5{
            display: flex;
            flex-flow: row wrap;
            row-gap: 80px;
        }
        .container-s6{
            padding: 20px 20px;
        }


/*ESTUDIO*/

.s-st{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.foto{
    width: 50%;
}
}
}