@font-face {
    font-family: andreas;
    src: url(../assets/img/fonts/semplicita.ttf);
    font-family: the-wedding-signature;
    src: url(../assets/img/fonts/theweddingsignatureregular-bwz55.ttf);
}